.wrap {
	position: relative;
	max-width: 70em;
	margin: 0 auto 2em auto;
	padding: 2em 0 0 0;
	@include clearfix;


}

.parentName{
	position: relative;
	width: 73%;
	float: right;
	text-align: center;
}

.offspringName{
	position: relative;
	width: 110%;
	float: right;
	text-align: center;
	padding-right: 0.9em;

}

.mateButtons{
	position: relative;
	width: 73%;
	float: right;
	text-align: center;
	
}


.mother, .father {
	position: relative;
	width: 30%;
	float: left;
	text-align: center;

	h2 {
		position: absolute;
		top: -2em;
		width: 100%;
	}
}

.offspring {
	position: relative;
	width: 45%;
	height: 30em;
	float: right;
	padding: 2em 7em 0 0;


	.one {
	position: relative;
	border: 1px solid #333;
	border-radius: 0.2em;
	text-align: left;
	background-color: #FEFCFF;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
	position: relative;
	width: 12em;
	height: 12em;
	float: left;
	padding: 2em 0.5em 8em 0.5em;
	@include border-box;
	margin: 0 0.5em 0.05em 0;
	

		.image {
			height: 50%;
			width: 50%;
			float: right;
		}

		&.selected {
		background-color: #85A2F9;

		}
	}
	.two {
	position: relative;
	border: 1px solid #333;
	border-radius: 0.2em;
	text-align: left;
	background-color: #FEFCFF;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
	position: relative;
	width: 12em;
	height: 12em;
	float: left;
	padding: 2em 0.5em 8em 0.5em;
	@include border-box;
	margin: 0 0 0.5em 0;

		.image {
			height: 50%;
			width: 50%;
			float: right;
		}

		&.selected {
		background-color: #85A2F9;

		}
	}
	.three {
	position: relative;
	border: 1px solid #333;
	border-radius: 0.2em;
	text-align: left;
	background-color: #FEFCFF;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
	position: relative;
	width: 12em;
	height: 12em;
	float: left;
	padding: 2em 0.5em 8em 0.5em;
	@include border-box;
	margin: 0 0.5em 0 0;

		.image {
			height: 50%;
			width: 50%;
			float: right;
		}

		&.selected {
		background-color: #85A2F9;

		}
	}
	.four {
	position: relative;
	border: 1px solid #333;
	border-radius: 0.2em;
	text-align: left;
	background-color: #FEFCFF;
	box-shadow: 0 0 3px rgba(0,0,0,0.2);
	position: relative;
	width: 12em;
	height: 12em;
	float: left;
	padding: 2em 0.5em 8em 0.5em;
	@include border-box;
	
		.image {
			height: 50%;
			width: 50%;
			float: right;
		}		

		&.selected {
		background-color: #85A2F9;

		}
	}
}

.instructions-info {
	position: relative;
	width: 30%;
	float: left;
	text-align: center;
	padding-right: 2em;
	

	.image {
	height: 50%;
	width: 50%;
	float: left;
	}

	h2 {
		position: absolute;
		top: -2em;
		width: 100%;
	}
}

